body{
    background: rgb(88, 26, 203);
}
a{
    color: bisque;
}

#section-1{
    font-size: medium;
    background-color: cornflowerblue;
    color: blue;
}

#section-2{
    font-size: large;
    background-color: cornflowerblue;
    color: rgb(225, 31, 31);
}
